### Date

In [3]:
from datetime import date
import time

date.fromtimestamp(time.time()) # from epoch to date object

datetime.date(2025, 3, 31)

In [ ]:
date.fromisoformat("2025-03-31") # from ISO to date object. iso date is YYYY-MM-DD

datetime.date(2025, 3, 31)

### Time

In [11]:
from datetime import time

t = time(23,11,10,1) # last one is micro seconds not milliseconds
t

datetime.time(23, 11, 10, 1)

In [12]:
t.isoformat()

'23:11:10.000001'

In [13]:
time.fromisoformat('23:11:10.000001')

datetime.time(23, 11, 10, 1)

### datetime

In [19]:
from datetime import datetime


dt = datetime(2025,3,31,23,11,10,1)
dt

datetime.datetime(2025, 3, 31, 23, 11, 10, 1)

In [20]:
iso = dt.isoformat()
iso

'2025-03-31T23:11:10.000001'

In [21]:
datetime.fromisoformat(iso)

datetime.datetime(2025, 3, 31, 23, 11, 10, 1)

In [22]:
dt.year, dt.month, dt.second, dt.microsecond

(2025, 3, 10, 1)

In [27]:
import datetime
datetime.datetime.now(datetime.timezone.utc)  # current datetime in UTC

datetime.datetime(2025, 4, 1, 3, 18, 7, 858185, tzinfo=datetime.timezone.utc)

In [29]:
datetime.datetime.now() #local time zone

datetime.datetime(2025, 3, 31, 23, 18, 32, 796933)

### time delta

In [24]:
import datetime

local = datetime.datetime.now()
some_time = datetime.datetime.fromisoformat("2024-04-02T00:00:00") # cannot subtract offset naive on offset aware

td = local - some_time
td

datetime.timedelta(days=365, seconds=70486, microseconds=285516)

In [25]:
td.total_seconds() # days * 24 * 60 + seconds + microsec * (10**6)

31606486.285516

In [26]:
td = datetime.timedelta(hours= 2,minutes=10)
local + td

datetime.datetime(2025, 4, 2, 21, 44, 46, 285516)

### Offset aware and offset naive

In [ ]:
from datetime import datetime

s = "2025-04-02T00:00:00-05:00"
dt = datetime.fromisoformat(s)
dt.tzinfo # basically contains time delta object with its offset from utc

datetime.timezone(datetime.timedelta(days=-1, seconds=68400))

#### Convert time aware to naive

In [ ]:
from datetime import timedelta, timezone

edt_tz =  timezone(timedelta(hours=-4), 'EDT')
dt = datetime(2025,4,2,20,00,tzinfo=edt_tz)  # date time in edt time zone
dt

datetime.datetime(2025, 4, 2, 20, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72000), 'EDT'))

In [32]:
utc_time = dt.astimezone(timezone.utc) # converts time from one timezone to another
utc_time

datetime.datetime(2025, 4, 3, 0, 0, tzinfo=datetime.timezone.utc)

In [36]:
utc_time_naive = utc_time.replace(tzinfo=None) # removes the tzinfo and makes it time naive
utc_time_naive

datetime.datetime(2025, 4, 3, 0, 0)

#### Convert naive to time aware

In [37]:
utc_time = utc_time_naive.replace(tzinfo=timezone.utc)
utc_time.astimezone(edt_tz)

datetime.datetime(2025, 4, 2, 20, 0, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72000), 'EDT'))